nav{

    background-color: burlywood;
    height: 50px;

}
a{
    text-decoration: none;
    color: black;
    padding-right: 5px;
    float: right;
    padding-inline-end: 0.5%;
    margin: 1%;
}
body{
    background-color: beige;
}

.Description{
    width: 40%;
    float: right;
    margin-right: 5%;
    border: 2px solid black;
    padding: 5px;
}
