nav{

    background-color: burlywood;
    height: 50px;

}
a{
    text-decoration: none;
    color: black;
    padding-right: 5px;
    float: right;
    padding-inline-end: 0.5%;
    margin: 1%;
}
body{
    background-color: rgb(220, 227, 230);
}


.ProjectList a{
    color: red;
    
}



.ProfileA{
    margin-left:35% ;
    margin-top: 3%;
    font-size: 3em;
    margin-right: 10%;
}

.Name{
    display: auto;
    margin-left: 35%;
}
.column{
    float: right;
    width: 350px;
    padding-bottom: 200px;
}

.main{
    display: flex;
    flex-direction: row;
    padding-left: 25%;
    margin: 5px;
}

.left{
    width: 350px;
}

.intro{
    background-color: beige;
}

.Head{
    text-align: center;
    text-decoration: underline;
}

.Contacts{
    
}



