nav{

    background-color: lightgray;
    height: 50px;

}
a{
    text-decoration: none;
    color: black;
    padding-right: 5px;
    float: right;
    padding-inline-end: 0.5%;
    margin: 1%;
}
body{
    background-color: rgb(220, 227, 230);
}

.AboutMe{
    width: 350px;
    margin-right: 20%;
    padding: 5px;
    background-color: rgb(220, 227, 230);
    margin-top: 5%;

}

.ProjectList{
    width: 40%;
    float: inline-end;
    margin-right: 20%;
    padding-bottom: px;
    margin-bottom: 100%;
    background-color: rgb(220, 227, 230);
    
    
}

.ProjectList a{
    color: red;
    
}



.ProfileA{
    margin-left:35% ;
    margin-top: 3%;
    font-size: 2em;
    margin-right: 10%;
}

.Name{
    display: auto;
    margin-left: 35%;
}
.column{
    float: right;
    width: 350px;
    padding-bottom: 200px;
}



